<!DOCTYPE html>
<html>
<head>
    <title>Add Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Add task</h1>

    <!-- ADD FORM -->
    <form method="post" action="{{ url_for('add') }}">
        <input type="text" name="title" placeholder="Title" required>
        <input type="text" name="description" placeholder="Description">
        <button>Save</button>
    </form>

    <!-- BACK LINK -->
    <a href="{{ url_for('index') }}" class="back">Back to list</a>
</div>

</body>
</html>
